/**
 * *************************************
 *      Ghost Rover 3 - UI CSS.
 * *************************************
 *
 * template.css
 *
 * @author   D. Foster <doug@dougfoster.me>.
 * @since    3.0.3 [2025-10-20-11:00am].
 * @link     http://dougfoster.me.
*/

/**
 * ============================================================================
 *                             Section.
 * ============================================================================
 *
 * @since  3.0.3 [2025-10-16-10:00am].
 */

/**
// -------------------------------------
//      Sub-section.
// -------------------------------------
*/

/* --- Comment. --- */
/* -- Comment. -- */
/* - Comment. - */
/* Comment. */
