/**
 * *************************************************************************
 *  Ghost Rover 3 - UI CSS.
 * *************************************************************************
 *
 * config.css
 *
 * @author D. Foster <doug@dougfoster.me>.
 * @since  3.0.3  [2025-10-20-10:45am].
 * @since  3.0.11 [2026-01-28-12:00pm] UI tweaks.
 * @since  3.0.12 [2026-02-08-08:30pm] Tweaks.
 * @since  3.1.0  [2026-03-02-05:00pm] Stable 3.0 version.
 * @since  3.1.0  [2026-03-07-04:45pm] Instrument height.
 * @since  3.1.0  [2026-03-18-06:00pm] Run time options.
 * @since  3.1.0  [2026-03-20-12:00pm] Pole heights.
 * @since  3.1.1  [2026-06-25-02:00pm] Regroup: upload to SD card.
 * @since  3.1.1  [2026-06-26-09:30pm] #pole-height {display: block;}.
 * @since  3.1.2  [2026-07-05-08:30pm] General cleanup.
 * @since  3.1.2  [2026-07-07-01:00pm] Instrument height only in mm.
 * @since  3.1.2  [2026-07-08-09:30pm] Add NTRIP.
 * @link   http://dougfoster.me.
*/

/**
 * -------------------------------------------------------------------------
 *  General.
 * -------------------------------------------------------------------------
*/

/* --- Form --- */
form#config {
    margin-top: 20px;
}
#config .config-section {
    padding: 10px;
    background-color: aliceblue;
    font-size: 16px;
}
#config .section-heading {
    font-size: 17px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 15px;
}
#config .full-row,
#config .note {
    grid-column: 1 / -1;
}
#config .note {
    box-sizing: border-box;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--gray-4);
    font-family: 'Courier New', Courier, monospace;
}

/* -- Form: button switches. -- */
#config .config-grid-buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}
#config .config-grid-buttons .grid-item {
    display: flex;
    margin: 6px 0;
    align-items: center;
    justify-content: left;
    font-size: 17px;
}
#config .config-grid-buttons .switch-field {
    display: flex;
    overflow: hidden;
}
#config .config-grid-buttons .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    overflow: hidden;
    border: 0;
}
#config .config-grid-buttons .switch-field label {
    padding: 8px 16px;
    margin-right: -1px;
    background-color: var(--gray-4);
    color: var(--gray-1);
    text-align: center;
    border: 1px solid var(--gray-2);
    transition: all 0.1s ease-in-out;
}
#config .config-grid-buttons .switch-field label:hover {
    cursor: pointer;
}
#config .config-grid-buttons .switch-field input:checked + label {
    background-color: var(--green-2);
    box-shadow: none;
}
#config .config-grid-buttons .switch-field label:first-of-type {
    border-radius: var(--std-border-radius) 0 0 var(--std-border-radius);
}
#config .switch-field label:last-of-type {
    border-radius: 0 var(--std-border-radius) var(--std-border-radius) 0;
}

/* -- Form: fields. -- */
#config .config-grid-fields {
    display: grid;
    grid-template-columns: minmax(0, 3.5fr) minmax(0, 2fr);
    gap: 10px;
    margin-top: 10px;
}
#config .config-grid-fields label {
    padding: 5px 5px 5px 0;
}
#config .config-grid-fields input {
    padding: 5px;
    border: 1px solid var(--gray-2);
    border-radius: 3px;
    font-size: 1rem;
}

/* -- Form: other. -- */
#config #update-config-btn,
#config #reset-config-btn {
    margin: 20px 0;
    width: 160px !important;
}
#config #update-config-btn.std-button,
#config #reset-config-btn.std-button {
    max-width: unset;
}
#config #reset-config-btn {
    background-color: red;
    border-color: red;
}
#config #ntrip-send-gga {
    padding-bottom: 10px;
}
#config .checkmark {
    background-color: white;
}

/* -- Checkbox - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox. -- */
/* - Checkbox: container. - */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-top: 20px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-container span:first-of-type {
    padding: 4px 0 5px 5px;
    font-size: 1rem;;
    display: block;
}
/* - Checkbox: hide the browser's default checkbox. - */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* - Checkbox: custom checkbox. - */
.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid var(--gray-1);
}
/* - Checkbox: checkmark indicator. - */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* - Checkbox: If checked, background = black. - */
.checkbox-container input:checked ~ .checkmark {
    background-color: black !important;
}
/* - Checkbox: show the checkmark when checked. - */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* -- Form: instrument height. -- */
#instrument-heights select {
    padding: 3px;
}
#instrument-heights #ghostrover-height,
#instrument-heights #pole-height,
#instrument-heights option,
#instrument-heights input {
    text-align: right;
}
#instrument-heights #ghostrover-height,
#instrument-heights #pole-height {
    padding-right: 6px;
}
#instrument-heights #pole-select {
    width: 170px;
}
#instrument-heights #pole-select option {
    text-align: left;
}
#instrument-heights #instrument-height,
#instrument-heights #pole-height-preset {
    padding-right: 5px;
    text-align: right;
}
#pole-height-preset {
    display: block;
    border:1px dashed red;
}
#pole-height {
    display: block;
}

/* -- Form: NTRIP. -- */
#config #ntrip {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.6fr);
}
#config #ntrip #ntrip-caster,
#config #ntrip #ntrip-verison {
    width: 50px;
}

/* --- Runtime options. --- */
#runtime-options {
    padding: 10px;
}
