/**
 * *************************************************************************
 *  Ghost Rover 3 - UI CSS.
 * *************************************************************************
 *
 * ntrip.css
 *
 * @author D. Foster <doug@dougfoster.me>.
 * @since  3.2.1 [2026-08-02-09:30am]. New.
 * @link   http://dougfoster.me.
*/

/**
 * =========================================================================
 *  General.
 * =========================================================================
 *
 * @since  3.2.1 [2026-07-31-02:15pm]. New.
 */
.blink {
  animation: fade 1.3s linear infinite;
  color: black;
}
@keyframes fade {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.title .status {
    margin-top: 5px;
}
.status {
    font-family: monospace;
    font-size: 90%;
    font-style: italic;
    color: var(--gray-2);
}
.note {
    font-size: 90%;
}
