/**
 * *************************************************************************
 *  Ghost Rover 3 - UI CSS.
 * *************************************************************************
 *
 * restart.css
 *
 * @author D. Foster <doug@dougfoster.me>.
 * @since  3.2.1 [2026-07-31-02:15pm]. New.
 * @link   http://dougfoster.me.
*/

/**
 * =========================================================================
 *  General.
 * =========================================================================
 *
 * @since  3.2.1 [2026-07-31-02:15pm]. New.
 */

 #restart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 320px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
 }
#restart-items .menu-item {
    margin: 10px;
}

/**
 * -------------------------------------------------------------------------
 *  Sub-section.
 * -------------------------------------------------------------------------
*/

/* --- Comment. --- */
/*     -- Comment. -- */
/*        - Comment. - */
/*          Comment. */
